/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
:root .theme_dark {
  --bg-color: #000028;
  --text-color: #F1B2CE;
  --accent-color: #FF0070;
  --main-title: #DB00FF;
}

.page.theme_dark {
  background-color: var(--bg-color);
  color: var(--text-color);
  background-image: url(../images/cover-image-dark.png);
}

.theme_dark .header, 
.theme_dark .content__title {
  color: var(--accent-color);
}


.theme_dark .header__title,
.theme_dark .footer__title {
  text-shadow: 4px 4px 0px var(--accent-color);
  color: var(--main-title);
}

.theme_dark .header__theme-menu-button_active {
  outline-color: var(--accent-color);
}

.theme_dark .decorated-zone::before,
.theme_dark .decorated-zone::after {
  border-color: var(--accent-color);
}

