/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
:root .theme_light {
  --bg-color: #FFF1F7;
  --text-color: #353430;
  --accent-color: #FF8DCB;
  --main-title: #FFC2E6;
}

.page.theme_light {
  color: var(--text-color);
  background-color: var(--bg-color);
  background-image: url(../images/cover-image-light.png);
}

.theme_light .header, 
.theme_light .title-decor,
.theme_light .content__title {
  color: var(--text-color);
}

.theme_light .header__title,
.theme_light .footer__title {
  text-shadow: 4px 4px 0px #FF0070;
  color: var(--main-title);
}

.theme_light .header__theme-menu-button:hover,
.theme_light .header__theme-menu-button_active {
  outline-color: var(--text-color);
}

.theme_light .header__theme-menu-button:focus-visible,
.theme_light .decorated-zone::before,
.theme_light .decorated-zone::after {
  border-color: var(--text-color);
}

.theme_light .decoration-element,
.theme_light .decoration-element::after {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root .theme_auto {
    --bg-color: #FFF1F7;
    --text-color: #353430;
    --accent-color: #FF8DCB;
    --main-title: #FFC2E6;
  }

  .page.theme_auto {
    color: var(--text-color);
    background-color: var(--bg-color);
    background-image: url(../images/cover-image-light.png);
  }
  
  .theme_auto .header, 
  .theme_auto .title-decor,
  .theme_auto .content__title {
    color: var(--text-color);
  }
  
  .theme_auto .header__title,
  .theme_auto .footer__title {
    text-shadow: 4px 4px 0px #FF0070;
    color: var(--main-title);
  }
  
  .theme_auto .header__theme-menu-button:hover,
  .theme_auto .header__theme-menu-button_active {
    outline-color: var(--text-color);
  }
  
  .theme_auto .header__theme-menu-button:focus-visible,
  .theme_auto .decorated-zone::before,
  .theme_auto .decorated-zone::after {
    border-color: var(--text-color);
  }
  
  .theme_auto .decoration-element,
  .theme_auto .decoration-element::after {
    display: none;
  }
}



